@charset "UTF-8";

@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@keyframes mousewheel{
  0%{top:5px;opacity: 0;}
  30%{top:10px;opacity: 1;}
  100%{top:25px;opacity: 0;}
}

//컬러시스템
$pri-color-1 : #2C3E50;
$pri-color-2 : #ffc90e;
$pri-color-3 : #ffffff;

$sec-color-1 : #52B3D9;
$sec-color-2 : #333333;
$sec-color-3 : #eeeeee;

$point-color-1 : #68C3A3;
$point-color-2 : #fcf8e3;


//변수선언
$txtMedium : 16px;
$contTitle : 18px;
$heavyTitle : 24px;
$heading : 28px;
$subTitle : 25px;
$mainTitle : 50px;
$solgan : 60px;

//문자열변수
$mobile : "screen and (max-width:640px)";

body{font-family: 'MonoplexKR-Regular';}

#wrap{
  position: relative;
  min-width: 1200px;

  @media #{$mobile}{
    min-width: 100%;
  }

}//end of #wrap


header{
  position: relative;
  z-index: 1000;
  width: 100%;  
  background-color: #fff;
  border-bottom: 1px solid #eee;

  &.fixed{
    position: fixed;
    left: 0;
    top: 0;
  }


  &:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #eee;
    content: '';
  }

  >.container{
    position: relative;
    height: 66px;

    >h2{
      position: absolute;
      left: 7%;
      top: 50%;
      margin-top: -17px;
      text-indent: 40px;
      background-image: url(./../images/profile-logo-k.png);
      background-repeat: no-repeat;
      background-size: contain;

      >a{
        display: block;
        height: 32px;
        color: #000;
        font-size: 26px;
        line-height: 32px;
      }
    }
    
    //반응형 햄버거버튼
    >.btn-gnb{
      display: none;
      cursor: pointer;

      @media #{$mobile}{
        background: none;
        border: none;
        outline: none;

        display: block;
        position: absolute;
        right: 7%;
        top: 50%;

        width: 24px;
        height: 18px;
        margin-top: -9px;
        text-indent: -9999px;
        background-image: url(./../images/mnu_btn.png);
		    background-position: center center;
        background-repeat: no-repeat;

        &.clse{
          background-image: url(./../images/clse_btn.png);

          @keyframes rotateBtn {
            0%{transform: rotate(0);}
            100%{transform: rotate(360deg);}
          }
          
          &:hover{
            animation: rotateBtn 0.5s;
          }
        }
      }
    }

    >nav{
      position: absolute;
      right: 7%;
      top: 26px;

      @media #{$mobile}{
        display: none;
        right: initial;
        left: 0;
        top: 66px;
        width: 100%;
      }

      >.gnb{
        display: flex;

        @media #{$mobile}{
          display: initial;
        }

        >li{
          border-right: 1px solid #ccc;

          @media #{$mobile}{
            border-right: none;
            background-color: #fff;
            border-bottom: 1px solid $sec-color-3;
          }

          &:last-child{border-right: none;}

          >a{
            display: block;
            height: 14px;
            padding: 0 15px;
            color: #666;
            font-weight: 500;
            line-height: 12px;
            transition: all 0.2s;

            @media #{$mobile}{
              height: 48px;
              padding: 0;
              line-height: 48px;
              text-indent: 7%;
            }
          }

          &.on>a,
          &:hover>a{
            color:$pri-color-2;
          }
        }//end of li
      }//end of .gnb
    }//end of nav
  }//end of .container
}//end of header

header~section{
  padding-top: 80px;

  >h2{
    margin-bottom: 72px;
    color: $pri-color-1;
    font-size: $mainTitle;
    line-height: 50px;
    text-align: center;

    &:after{
      display: block;
      width: 138px;
      height: 15px;
      margin: 30px auto 0;
      background-image: url(./../images/deco_tit.png);
      content: '';
    }
  }//end of h2


}//end of header~section

section#aboutme{
  
  @media #{$mobile}{
    width: 100%;
  }

  >.container{
    display: flex;
    flex-flow: row-reverse nowrap;
    padding-bottom: 30px;

    @media #{$mobile}{
      display: block;
      padding-bottom: 0;
    }

    >.profile{
      width: 33.33333%;

      @media #{$mobile}{
        width: 100%;
      }

      >div{
        position: relative;
        width: 360px;
        margin: 0 auto;
        border: 1px solid #eee;
        border-radius: 50px 50px 10px 10px;
        overflow: hidden;

        @media #{$mobile}{
          width: 70%;
        }

        &:after{
          display: block;
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 20px;
          border-bottom: 1px solid #eee;
          border-radius: 0 0 10px 10px;
          content: '';
        }

        >.myphoto{
          overflow: hidden;

          >img{
            display: block;
            position: relative;
            z-index: -1;//-1값 설정시 가장 아래 바닥으로 깔린다.
            margin: -15px 0 0 0;
            width: 360px;
            height: auto;
            border-radius: 50px;

            @media #{$mobile}{
              width: 100%;
              height: auto;
              margin: 0;
            }
          }
        }//end of .myphoto

        >ol{
          padding: 20px 20px ;
          >li{
            height: 45px;
            font-weight: 500;
            font-size: 16px;
            line-height: 45px;
            border-bottom: 1px solid #eee;

            @media #{$mobile}{
              font-size: 12px;
              height: 30px;
              line-height: 30px;
            }

            &:last-child{
              border-bottom: 0;
            }
          }
        }//end of ol
      }//end of div
    }//end of .profile

    >.biography{
      width: 66.66666%;

      @media #{$mobile}{
        width: 100%;
        margin-top: 48px;
      }

      >.detail{
        margin-bottom: 64px;
        padding-left: 10%;
        
        @media #{$mobile}{
          padding:0 5%; 
        }

        >h3{
          margin-bottom: 30px;
          font-weight: 500;
          font-size: $subTitle;
        }//end of h3

        >p{
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 500;

          >br{
            @media #{$mobile}{
              display: none;
            }
          }

          >mark{
            background-color: $point-color-2;
          }
        }//end of p

        
        > a {
          display: block;
          width: 260px;
          height: 40px;
          color: #fff;
          line-height: 40px;
          letter-spacing: 1px;
          text-align: center;
          background-color: #222;
          transition: all 0.2s;

          @media #{$mobile}{
            display: none;
          }

          &:hover {
            background-color: $pri-color-2;
          }
        }

        > .shadow {
          display: none;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 1000;
          /* opacity: 0.75; */

          > .lightbox {
            display: block;
            overflow-y: scroll;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 1200px;
            height: 800px;
            margin: -400px 0 0 -600px;

            > img {
              display: block;
              width: 100%;
            }
          }//end of .lightbox

          > .clse {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: 370px 0 0 540px;
          }
        }//end of .shadow

        >.ican{
          display: flex;
          flex-flow: row wrap;
          margin-top: 80px;

          @media #{$mobile}{
            margin-top: 50px;
          }

          >li{
            width: 345px;
            height: 40px;
            font-size: $txtMedium;
            line-height: 40px;
            
            &:before{
              margin-right: 10px;
              color: $pri-color-2;
              font-family: 'Font Awesome 5 Free';
              content: '\f14a';
              // content: '\f0c8';
            }
          }
        }
      }//end of .detail
    }//end of .biography

    // >article{border: 1px solid #000;}
  }//end of .container
}//end of #about



section#portfolio{
  width: 100%;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  background-color: #dedede;

  >article{
    width: 1200px;
    margin: 0 auto;


    @media #{$mobile}{
      width: 100%;
      margin: 0;
    }
  }

  >.slides{
    position: relative;
    
    @media #{$mobile}{
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: space-between;
    }
      
    >.slides-pagination{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto 30px;
        
        @media #{$mobile}{
          justify-content: space-between;
          position: absolute;
          left: 50%;
          bottom: 50px;
          z-index: 100;
          width: 200px;
          margin: 0;
          margin-left: -90px;
          background-color: #ddd;
          border-radius: 50px;
        }

        >li{
            width: 150px;
            background-color: #fff;

            @media #{$mobile}{
              width: 80px;
            }

            >a{
                display: block;
                height: 40px;
                font-weight: 700;
                font-size: 14px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #111;
                
                @media #{$mobile}{
                  height: 10px;
                  text-indent: -9999px;
                  border-radius: 50px;
                  transition: all 0.5s;
                }
            }                        
            
            &.on>a,                          
            &:hover>a{                            
                color: $sec-color-2;
                background-color: $pri-color-2;

            }
            
        }
    }//.slides-pagination

    >.slides-container{
        overflow: hidden;
        width: 100%;
        
        @media #{$mobile}{
        }

        >figure{
            display: none;
            width: 100%;
            text-align: center;
            
            &:nth-child(1){display: block;}
            
            
            >.frame{
              display: block;
              position: relative;
              width: 100%;
              height: 500px;
              background: url(./../images/portfolio/bg_macbook.png) no-repeat center;
              background-size: contain;
              
              @media #{$mobile}{
                width: 360px;
                height: 198px;
                margin: 0 auto;
                background-size: contain;                
              }

              >a{
                display: block;
                
                >img{
                  position: absolute;
                  left: 50%;
                  top: 35px;
                  margin-left: -360px;
                  width: 730px; 
                  
                  
                  @media #{$mobile}{
                      left: 402px;
                      top: 17px;
                      width: 280px;
                    }
                }//end of img

              }//end of .frame>a

            }//end of .frame

            >figcaption{
                width: 100%;
                padding: 35px 0 80px;

                @media #{$mobile}{
                  display: block;
                  width: 80%;
                  margin: 0 auto;
                }

                >h3{
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 24px;
                    text-decoration: underline;
                }

                >.desc,
                >.tools,
                >.etc{
                    margin-top: 20px;
                    color: #404040;
                    font-weight: 500;
                    line-height: 24px; 

                    >span{font-weight: 600;}
                    
                    @media #{$mobile}{
                      br{display: none;}
                    }
                }

                >.etc{
                  margin-top: 0;
                  margin-bottom: 20px;
                }
            }//figcaption
        }//end of figure
    }//end of ..slides-container  
    
    >a{
      display: none;
      position: absolute;
      bottom: 43px;
      
      &.prev{
        left: 7%;
        background: url(./../images/portfolio/btn_prev.png) no-repeat center; background-size: contain;
      }

      &.next{
        right: 7%;
        background: url(./../images/portfolio/btn_next.png) no-repeat center; background-size: contain;
      }

      @media #{$mobile}{
        display: block;
        width: 40px;
        height: 25px;
        text-indent: -9999px;

      }
    }//end of a
  }//.slides
}//end of #portfolio


section#skill{
  
  >article{
    &.skill-1{
      margin-bottom: 120px;

      @media #{$mobile}{
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #eee;
      }
    }


    > h3 {
      margin-bottom: 80px;
      font-weight: 500;
      font-size: $subTitle;
      line-height: 48px;
      text-align: center;

      @media #{$mobile}{
        margin-bottom: 40px;
        font-size: 25px;
      }

      > span {
        display: block;
      }
    }//end of h3

    > ol {
      display: flex;
      justify-content: space-between;
      width: 100%;
      
      @media #{$mobile}{
        display: block;
        width: 90%;
        margin: 0 auto;
      }

      > li {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 45%;
        height: 150px;
        padding-left: 180px;
        background-size: contain;
        background-repeat: no-repeat;
        box-sizing: border-box;

        @media #{$mobile}{
          width: 100%;
          background-size: 100px;
          background-position: 0 center;
          margin-bottom: 10px;
          padding-left: 120px;

		      &:first-child{margin-bottom: 40px;}
        }


        > h4 {
          margin-bottom: 30px;
          font-weight: 500;
          font-size: $heavyTitle;
          
          @media #{$mobile}{
            margin-bottom: 15px;
            font-size: 20px;
          }
        }

        > p {
          line-height: 1.6;
        }

      }//end of li
    }//end of  ol

    &.skill-1 li:first-child {
      padding-left: 360px;
      background-image: url(./../images/skill/skill01.png);
      background-position: 180px 0;

      @media #{$mobile}{
        padding-left: 120px;
        background-position: 0 center;
      }
    }

    &.skill-1 li:last-child {
      background-image: url(./../images/skill/skill02.png);
    }

    &.skill-2 li:first-child {
      padding-left: 360px;
      background-image: url(./../images/skill/skill03.png);
      background-position: 180px 0;
      
      @media #{$mobile}{
        padding-left: 120px;
        background-position: 0 center;
      }
    }

    &.skill-2 li:last-child {
      background-image: url(./../images/skill/skill04.png);
    }
  }//end of article

}//end of #skill


section#ability{
  margin-top: 100px;
  // padding-top: 70px;
  background-color: #222;
  
  >h2{
    color: #fff;
  }

  >.ability-container{
    padding-bottom: 50px;
	
    >.stick {
      display: flex;
      justify-content: space-around;

      @media #{$mobile}{
        display: block;
      }

      >.stick-container {
        width: 43%;

        @media #{$mobile}{
          width: 100%;
        }

        > .item {
          margin-bottom: 40px;
          display: flex;

          @media #{$mobile}{
            padding: 0 7%;;
          }

          > h3 {
            width: 17%;
            height: 10px;
            padding-right: 8%;
            color: #fff;
            font-weight: 600;
            font-size: $contTitle;
            line-height: 10px;
            text-align: right;

            @media #{$mobile}{
              font-size:15px;
            }
          }

          .progress {
            position: relative;
            width: 75%;
            height: 10px;
            background-color: #3a4149;
            border-radius: 3px;

            .bar {
              height: 100%;
              /* width: 100px; js에서 동적으로 할당 */
              width: 0;
              background-color: $pri-color-2;
              transition: all 2s ease-in-out;

              > span {
                position: absolute;
                top: -20px;
                right: 15px;
                color: #fff;
              }
            }//end of .bar
          }//end of .progress
        }//end of .item
        
      }//end of .stick-container
    }//end of .stick

    >.piechart {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;

      @media #{$mobile}{
        // flex-flow:wrap;
        // margin-top:70px;
        display: none;
      }

      > .item {
        width: 140px;
        height: 200px;

        > .chart {
          position: relative;
          width: 140px;
          height: 140px;
          text-align: center;

          canvas {
            position: absolute;
            left: 0;
            top: 0;
          }

          > .percent {
            color: #fff;
            font-weight: 500;
            font-size: 25px;
            line-height: 140px;

            &:after {
              content: '%';
            }
          }//end of .percent

          > .tit {
            height: 60px;
            color: $point-color-2;
            font-weight: 500;
            font-size: $contTitle;
            line-height: 60px;
          }
        }//end of .chart
      }//end of .item
    }//end of piechart
  }//end of .container

}//end of #ability




section#contact{
  width: 1200px;
  margin: 0 auto 50px;

  @media #{$mobile}{
    width: 100%;
  }

  >.apply{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    box-sizing: border-box;

    @media #{$mobile}{     
      border: none;
    }

    >.help{
      position: relative;
      height: 110px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e4e4e4;
      
    @media #{$mobile}{ 
      position: initial;     
      width: 90%;
      height: 200px;
      margin: 0 auto;
    }

      >h2{
        position: absolute;
        left: 75px;
        top: 35px;
        font-size: $subTitle;
        font-weight: 500;

        @media #{$mobile}{
          position: initial;
          //font-size: $heading;
        }

        &:after{
          display: block;
          position: absolute;
          right: -50px;
          top: -5px;
          width: 1px;
          height: 50px;
          background-color: #ccc;
          content: '';

          @media #{$mobile}{
            display: none;
          }
        }
      }

      >p{
        position: absolute;
        left: 610px;
        top: 30px;
        height: 120px;
        font-size: $contTitle;
        line-height: 1.7em;
        
        @media #{$mobile}{
          position: initial;
          height: 150px;
          margin-top: 10px;
          // padding-bottom: 30px;
        }
      }
    }//end of .help

    >dl{
      
      @media #{$mobile}{      
        width: 90%;
        margin: 0 auto;
      }
      //질문리스트
      >dt{
        &.on{
          background-color: $sec-color-1;
  
          >a>span.arr{
            background-image: url(./../images/contact/after_up.png);
          }
        }
  
        >a{
          position: relative;
          display: block;
          width: 90%;
          height: 70px;
          margin: 0 auto;
          font-size: 14px;
          line-height: 70px;
          border-bottom: 1px solid #e4e4e4;

          @media #{$mobile}{
            margin-left: 0;
            width: 100%;
          }
  
          >span.arr{
            display: block;
            position: absolute;
            right: 0;
            top: 35px;
            width: 15px;
            height: 19px;
            text-indent: -9999px;
            background-image: url(../images/contact/after_down.png);
            background-repeat: no-repeat;
        }  
        }//end of a
      }//end of dt
  
      //질문에 대한 답변 영역
      >dd{
        display: none;
        background-color: #f8f8f8;
  
        >.answer{
          margin: 0 90px;
          padding: 40px 0;
        
          @media #{$mobile}{      
            width: 90%;
            margin: 0 20px;
          }
        } 
      }//end of dd

    }

    >p{
      display: flex;
      align-items: center;
      height: 100px;
      margin-top: 50px;
      color: #505050;
      font-size: 14px;
      line-height: 32px;
      padding-left: 70px;
      background-color: #f8f8f8;

      @media #{$mobile}{
        width: 100%;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 50px;
        padding: 0 20px;
        font-weight: 500;
        text-align: center;
        box-sizing: border-box;
      }
    }//end of p
  }//end of .apply
}//end of #contact

footer{
  min-width: 1200px;

  @media #{$mobile}{
    min-width: 100%;
  }

  >.working{
    border-top: 1px solid #aaa;

    >p{
      padding-left: 7%;
      height: 80px;
      line-height: 80px;

      >a{
        margin: 0 30px;

        &:hover{text-decoration: underline;}
      }

      >time{
        @media #{$mobile}{
          display: none;
        }
      }
    }//end of p
  }//end of working

  >.info{
    background-color: #222;

    >.container{
      position: relative;//푸터로고에 대한 기준점
      padding: 45px 7% 40px;

      >h2,
      >p{
        margin-bottom: 15px;
        color: #aaa;
        font-size: 13px;

        @media #{$mobile}{
          margin-bottom: 10px;
        }

        >a{
          color: #aaa;

          @media #{$mobile}{
            display: block;
          }
        }

        >.bar{
          margin: 0 10px;

          @media #{$mobile}{
            display: none;
          }
        }
      }//end of h2,p


      >p.iam_2>span{
        @media #{$mobile}{
          display: block;
        }
      }
    }//end of .container
  }//end of .info
}//end of footer

aside{
  display: none;
	position: fixed;
	right: 1em;
	bottom: 1em;
  z-index: 1000;

  >a{
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: $pri-color-2;

    >i{
      color: #fff;
    }

  }
}//end of aside