@charset "UTF-8";
#wrap {
  width: 100%;
  margin: 0 auto;
}
#wrap header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #ccc;
}
#wrap header.hovered, #wrap header.fixed {
  background-color: #f6f6f6;
}
#wrap header.hovered .head-container > .logo > a, #wrap header.fixed .head-container > .logo > a {
  background-image: url(./../image/logo_black.png);
}
#wrap header.hovered .head-container > nav > .gnb > li > a, #wrap header.fixed .head-container > nav > .gnb > li > a {
  color: #000;
}
#wrap header.hovered .head-container > .login-container > a, #wrap header.fixed .head-container > .login-container > a {
  color: #000;
}
#wrap header.hovered .head-container > .login-container > .lang > .korean, #wrap header.fixed .head-container > .login-container > .lang > .korean {
  color: #000;
  background: url(./../image/lang_icon_black.png) no-repeat 0 center;
}
#wrap header.hovered .head-container > .login-container > .search, #wrap header.fixed .head-container > .login-container > .search {
  background-color: #ff8400;
  border-radius: 50%;
}
#wrap header .head-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 1290px;
  height: 90px;
}
#wrap header .head-container .logo {
  width: 170px;
}
#wrap header .head-container .logo a {
  display: block;
  height: 90px;
  background-image: url(./../image/logo.png);
  background-repeat: no-repeat;
  background-position: 0 28px;
}
#wrap header .head-container > .lnb_bg {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  height: 90px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}
#wrap header .head-container nav {
  position: relative;
}
#wrap header .head-container nav .gnb {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 640px;
}
#wrap header .head-container nav .gnb li {
  position: relative;
  margin: 0 10px;
  width: 100%;
  text-align: center;
}
#wrap header .head-container nav .gnb li:last-child {
  text-align: right;
}
#wrap header .head-container nav .gnb li.gnb-title:hover:after {
  position: absolute;
  left: 50%;
  bottom: 12px;
  content: "";
  margin-left: -4px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ff8400;
  border-radius: 50%;
}
#wrap header .head-container nav .gnb li:hover .sub-mnu-container {
  display: block;
}
#wrap header .head-container nav .gnb li a {
  display: block;
  height: 90px;
  line-height: 90px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 90px;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb {
  width: 1290px;
  display: flex;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb.lnb_1 {
  margin-left: -100px;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb.lnb_2 {
  margin-left: -200px;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb.lnb_3 {
  margin-left: -150px;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb.lnb_4 {
  margin-left: -400px;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb.lnb_5 {
  margin-left: -530px;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb.lnb_6 {
  margin-left: -450px;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb > li {
  position: relative;
  width: auto;
  margin: 0 20px;
  z-index: 10;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb > li > a {
  font-size: 16px;
  color: #000;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb > li > a > span {
  position: relative;
  font-weight: 300;
}
#wrap header .head-container nav .gnb li > .sub-mnu-container > ol.lnb > li > a:hover::before {
  position: absolute;
  left: -8px;
  top: 30px;
  z-index: 0;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ff8400;
  border-radius: 50%;
}
#wrap header .head-container .login-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 221px;
  line-height: 90px;
}
#wrap header .head-container .login-container a {
  display: block;
  height: 90px;
  line-height: 90px;
  font-size: 13px;
  color: #fff;
}
#wrap header .head-container .login-container .lang {
  margin-left: 15px;
}
#wrap header .head-container .login-container .lang .korean {
  display: block;
  width: 65px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: url(./../image/lang_icon.png) no-repeat 0 center;
}
#wrap header .head-container .login-container .lang ul {
  display: none;
}
#wrap header .head-container .login-container .search {
  margin-top: 23px;
  border: none;
  outline: none;
  background: none;
  width: 46.9922px;
  height: 46.9922px;
  background: url(./../image/다운로드\ \(1\).svg) no-repeat 50%/20px auto;
}
#wrap section {
  width: 100%;
}
#wrap section > .side-navigation {
  position: fixed;
  right: 0;
  top: 300px;
  z-index: 100;
  width: 116px;
}
#wrap section > .side-navigation > ul.side {
  width: 116px;
  height: 470px;
}
#wrap section > .side-navigation > ul.side > li {
  margin-bottom: 1px;
  width: 116px;
  height: 115px;
}
#wrap section > .side-navigation > ul.side > li.kakao {
  background-image: url(./../image/ico_katalk.jpg);
  background-size: cover;
}
#wrap section > .side-navigation > ul.side > li.kakao > a {
  display: block;
  height: 115px;
}
#wrap section > .side-navigation > ul.side > li.kakao > a > span {
  display: block;
  width: 116px;
  text-align: center;
  padding-top: 70px;
  color: #411c1e;
  font-size: 13px;
  box-sizing: border-box;
}
#wrap section > .side-navigation > ul.side > li.center-tel {
  background-color: #3c3c3c;
}
#wrap section > .side-navigation > ul.side > li.center-tel > a {
  display: block;
  height: 115px;
  color: #fff;
}
#wrap section > .side-navigation > ul.side > li.center-tel > a > span.tel {
  padding-top: 20px;
  display: block;
  width: 100%;
  line-height: 1;
  text-align: center;
  font-weight: 300;
  box-sizing: border-box;
}
#wrap section > .side-navigation > ul.side > li.center-tel > a > span.tel > b {
  display: block;
  font-size: 18px;
}
#wrap section > .side-navigation > ul.side > li.center-tel > a > span.text {
  padding-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  line-height: 1;
  box-sizing: border-box;
}
#wrap section > .side-navigation > ul.side > li.personal-info {
  width: 100%;
  background-color: #ef8321;
}
#wrap section > .side-navigation > ul.side > li.personal-info > a {
  display: block;
  height: 115px;
  color: #fff;
  font-size: 13px;
}
#wrap section > .side-navigation > ul.side > li.personal-info > a > span {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 47px;
  box-sizing: border-box;
}
#wrap section > .side-navigation > ul.side button.page-up {
  width: 100%;
  height: 115px;
  background-color: #fff;
  background-image: url(./../image/arrow_top.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}
#wrap section .main-tit {
  width: 1290px;
  margin: 0 auto;
  text-align: center;
}
#wrap section .main-tit > h3 {
  font-size: 40px;
  font-weight: 400;
}
#wrap section .main-tit > p {
  margin: 10px 0 50px 0;
  font-size: 20px;
  font-weight: 200;
}
#wrap section h2 {
  display: none;
}
#wrap section .main-container {
  width: 100%;
}
#wrap section .main-container .visual {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 100%;
}
#wrap section .main-container .visual .swiper {
  width: 100%;
  height: 570px;
}
#wrap section .main-container .visual .swiper .swiper-slide {
  position: relative;
  left: 0;
  width: 300%;
  background-size: 100% 100%;
}
#wrap section .main-container .visual .swiper .swiper-slide.slide_1 {
  background-image: url(./../image/visual-1.jpg);
}
#wrap section .main-container .visual .swiper .swiper-slide.slide_2 {
  background-image: url(./../image/visual-2.jpg);
}
#wrap section .main-container .visual .swiper .swiper-slide.slide_3 {
  background-image: url(./../image/visual-3.jpg);
}
#wrap section .main-container .visual .swiper .swiper-slide p.textbox {
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -314px;
  padding: 10px 30px;
  width: 628px;
  height: 104px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background: rgba(28, 46, 60, 0.6);
  border: 1px solid #6b7480;
  box-sizing: border-box;
}
#wrap section .main-container .visual .swiper .swiper-slide p.textbox span {
  display: block;
  font-size: 36px;
}
#wrap section .main-container .visual .swiper .swiper-slide a {
  display: block;
  position: absolute;
  left: 50%;
  top: 350px;
  margin-left: -92px;
  width: 184px;
  height: 42px;
  font-size: 20px;
  color: #fff;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 53, 103, 0.6);
  border: 1px solid #fff;
  border-radius: 10px;
}
#wrap section .main-container .visual .swiper .swiper-slide a:hover {
  color: rgb(255, 128, 0);
  border: 1px solid rgb(255, 128, 0);
  background: rgba(0, 53, 103, 0.9);
}
#wrap section .main-container .visual .swiper .swiper-button-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 570px;
}
#wrap section .main-container .visual .swiper .swiper-button-container .swiper-button-prev {
  position: absolute;
  left: 300px;
  top: 50%;
  color: #fff;
}
#wrap section .main-container .visual .swiper .swiper-button-container .swiper-button-next {
  position: absolute;
  right: 300px;
  top: 50%;
  color: #fff;
}
#wrap section .main-container .visual .control-box {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: flex;
  margin-left: -70px;
  width: 70px;
  height: 30px;
  background: rgba(0, 53, 103, 0.6);
}
#wrap section .main-container .visual .control-box .ctrlbtn {
  border: none;
  outline: none;
  background: none;
  margin: auto;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-image: url(./../image/ico_play_pause.png);
  background-size: 30px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#wrap section .main-container .visual .control-box .ctrlbtn.stop {
  background-position: 0 -30px;
}
#wrap section .main-container .visual .control-box .ctrlbtn.stop.on {
  background-image: url(./../image/ico_play_pause_over.png);
}
#wrap section .main-container .visual .control-box .ctrlbtn.play.on {
  background-image: url(./../image/ico_play_pause_over.png);
}
#wrap section > article.cont1 {
  width: 100%;
}
#wrap section > article.cont1 .main-wrap {
  margin: 80px auto 40px;
  width: 1290px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#wrap section > article.cont1 .main-wrap .main-slide {
  width: 840px;
}
#wrap section > article.cont1 .main-wrap .main-slide ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li {
  position: relative;
  width: 260px;
  height: 140px;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li a {
  display: block;
  height: 190px;
  font-size: 16px;
  color: #666;
  line-height: 20px;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li a p {
  position: absolute;
  left: 0;
  bottom: -45px;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li a p span {
  display: block;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li:first-child {
  width: 840px;
  height: 420px;
  font-size: 20px;
  color: #fff;
  background-image: url(./../image/theme01_0819.jpg);
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li:first-child a {
  display: block;
  height: 420px;
  color: #fff;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li:first-child a p {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 20px;
  line-height: 30px;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li:first-child a p span {
  font-size: 36px;
}
#wrap section > article.cont1 .main-wrap .main-slide ul li:nth-child(2) {
  background-image: url(./../image/theme02_0819.jpg);
}
#wrap section > article.cont1 .main-wrap .main-slide ul li:nth-child(3) {
  background-image: url(./../image/theme03_0819.jpg);
}
#wrap section > article.cont1 .main-wrap .main-slide ul li:nth-child(4) {
  background-image: url(./../image/theme04_0819.jpg);
}
#wrap section > article.cont1 .main-wrap .main-slide .list {
  display: flex;
  margin-top: 60px;
  padding: 5px 10px;
  width: 840px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  line-height: 30px;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .subject {
  float: left;
  width: 714px;
  height: 33px;
  margin: auto 0;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .subject a {
  float: left;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .subject a:hover {
  color: #ef6d00;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .subject a.notice-tit {
  position: relative;
  box-sizing: border-box;
  width: 60px;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .subject a.notice-tit::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 10px;
  width: 1px;
  height: 10px;
  border-right: 1px solid #000;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .subject a.notice-cont {
  float: left;
  width: calc(100% - 60px);
  padding-left: 10px;
  box-sizing: border-box;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .date {
  float: right;
  width: 117px;
}
#wrap section > article.cont1 .main-wrap .main-slide .list .date p {
  text-align: right;
}
#wrap section > article.cont1 .main-wrap .tag-swiper {
  width: 420px;
  height: 450px;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper {
  width: 100%;
  height: 440px;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper {
  position: relative;
  left: 0;
  width: 2100px;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper .swiper-slide {
  width: 420px;
  height: 420px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper .swiper-slide.swiper_1 {
  background-image: url(./../image/safe.jpg);
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper .swiper-slide.swiper_2 {
  background-image: url(./../image/right_ban02.jpg);
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper .swiper-slide.swiper_3 {
  background-image: url(./../image/right_ban05.jpg);
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper .swiper-slide.swiper_4 {
  background-image: url(./../image/right_ban_studio.jpg);
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper .swiper-slide.swiper_5 {
  background-image: url(./../image/right_ban06.jpg);
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper .swiper-wrapper .swiper-slide a {
  display: block;
  height: 420px;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  background-color: #ef6d00;
  border-radius: 18px;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .tag {
  width: 420px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .tag li {
  display: inline-block;
  margin: 6px;
  padding: 3px 20px;
  border: 1px solid #d9d8d8;
  border-radius: 6px;
  box-sizing: border-box;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .tag li:hover {
  border-color: #ef6d00;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .tag li:hover a {
  color: #ef6d00;
}
#wrap section > article.cont1 .main-wrap .tag-swiper .tag li a {
  display: block;
  height: 30px;
  font-size: 17px;
  color: #666;
  line-height: 28px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap {
  margin-top: 80px;
  width: 840px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > .video-title {
  display: flex;
  flex-flow: row nowrap;
  width: 840px;
  margin-bottom: 10px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > .video-title > h3 {
  width: 90%;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 300;
  background-image: url(./../image/icon_youtube.gif);
  background-repeat: no-repeat;
  background-position: 0 center;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > .video-title > a {
  display: block;
  margin-top: 5px;
  width: 10%;
  color: #666;
  background-image: url(./../image/arrow_next.png);
  background-repeat: no-repeat;
  background-position: 100% 3px;
  background-size: 13px 13px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > .video-title > a:hover {
  color: #ef6d00;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > ul.video-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 840px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > ul.video-list > li {
  position: relative;
  width: 260px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > ul.video-list > li:hover button {
  background-color: #ef6d00;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > ul.video-list > li > a {
  display: block;
  height: 160px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > ul.video-list > li > a > img {
  width: 260px;
  height: 140px;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > ul.video-list > li > a > span {
  display: block;
  margin-top: 10px;
  font-size: 17px;
  color: #666;
}
#wrap section > article.cont1 .main-wrap > .video-jeju-wrap > ul.video-list > li button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px;
  width: 35px;
  height: 35px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 50%;
  background-image: url(./../image/ico_play.png);
  cursor: pointer;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap {
  margin-top: 80px;
  width: 420px;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > .insta-title {
  display: flex;
  flex-flow: row nowrap;
  width: 420px;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > .insta-title > h3 {
  padding-left: 30px;
  width: 80%;
  font-size: 18px;
  font-weight: 300;
  background-image: url(./../image/icon_instagram.gif);
  background-repeat: no-repeat;
  background-position: 0 center;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > .insta-title > a {
  margin-top: 5px;
  width: 20%;
  color: #666;
  background-image: url(./../image/arrow_next.png);
  background-repeat: no-repeat;
  background-position: 100% 3px;
  background-size: 13px 13px;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > .insta-title > a:hover {
  color: #ef6d00;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  width: 420px;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li {
  width: 105px;
  height: 105px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-size: cover;
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(1) {
  background-image: url(./../image/insta-thumb01.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(2) {
  background-image: url(./../image/insta-thumb02.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(3) {
  background-image: url(./../image/insta-thumb03.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(4) {
  background-image: url(./../image/insta-thumb04.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(5) {
  background-image: url(./../image/insta-thumb05.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(6) {
  background-image: url(./../image/insta-thumb06.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(7) {
  background-image: url(./../image/insta-thumb07.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li:nth-child(8) {
  background-image: url(./../image/insta-thumb08.jpg);
}
#wrap section > article.cont1 .main-wrap > .instagram-visitjeju-wrap > ul.thumbnail-list > li > a {
  display: block;
  height: 105px;
  text-indent: -9999px;
  overflow: hidden;
}
#wrap section > article.cont2 {
  padding: 100px 0;
  width: 100%;
  height: 642px;
  background-color: #f3f3f3;
  box-sizing: border-box;
}
#wrap section > article.cont2 > .shopping-container {
  width: 1290px;
  margin: auto;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category {
  width: 1290px;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul {
  display: flex;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li {
  width: 430px;
  background-color: #e2e3e4;
  border-right: 1px solid #fff;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li.on {
  background-color: #ee5351;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li.on a {
  color: #fff;
  font-weight: 600;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li.on a span.btn-icon.dutyfree {
  background-position: center -19px;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li.on a span.btn-icon.tamnao {
  background-position: 0 -21px;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li.on a span.btn-icon.ejejumall {
  background-position: center -25px;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li.food-list {
  border-right: none;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a {
  display: block;
  height: 55px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a > span.list-title {
  display: inline-block;
  margin-right: 10px;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a > span.btn-icon {
  display: inline-block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a > span.btn-icon.dutyfree {
  display: inline-block;
  width: 110px;
  height: 20px;
  background-image: url(./../image/icon-shopping-dutyfree.png);
  background-position: center 2px;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a > span.btn-icon.tamnao {
  display: inline-block;
  width: 88px;
  height: 21px;
  background-image: url(./../image/icon-shopping-tamnao.png);
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a > span.btn-icon.tamnao.on {
  background-position: center -21px;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a > span.btn-icon.ejejumall {
  display: inline-block;
  width: 70px;
  height: 25px;
  background-image: url(./../image/icon-shopping-ejejumall.png);
  background-position: 0 0;
}
#wrap section > article.cont2 > .shopping-container > .shopping-category > ul > li > a > span.btn-icon.ejejumall.on {
  background-position: center -25px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 400px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .dutyfree-thumbs {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 1290px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 1290px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol > li {
  width: 234px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol > li > a {
  display: block;
  height: 270px;
  font-size: 15px;
  text-align: center;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol > li > a > img {
  width: 234px;
  height: 234px;
  border-radius: 20px;
  margin-bottom: 10px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol > li > a > span.list-title {
  display: block;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol > li > a > span.list-explain {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol > li > a > span.list-price {
  display: block;
  margin-top: 10px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .platform-thumbs > ol > li > a > span.list-price > b {
  font-size: 20px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 1290px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol > li {
  width: 234px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol > li > a {
  display: block;
  height: 270px;
  font-size: 15px;
  text-align: center;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol > li > a > img {
  width: 234px;
  height: 234px;
  border-radius: 20px;
  margin-bottom: 10px;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol > li > a > span.list-title {
  display: block;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol > li > a > span.list-explain {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol > li > a > span.list-price {
  display: block;
  margin-top: 20px;
  text-align: center;
}
#wrap section > article.cont2 > .shopping-container > .list-container-wrap > .food-thumbs > ol > li > a > span.list-price > b {
  font-size: 20px;
}
#wrap section > article.cont3 {
  width: 100%;
  padding: 80px 0;
}
#wrap section > article.cont3 > .travel-contents {
  width: 1290px;
  margin: auto;
}
#wrap section > article.cont3 > .travel-contents > ul {
  width: 1290px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#wrap section > article.cont3 > .travel-contents > ul > li {
  margin-bottom: 40px;
  width: 300px;
  height: 300px;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: hidden;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme {
  position: relative;
  width: 300px;
  height: 300px;
  color: #fff;
  background-color: blue;
  overflow: initial;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.hot-search {
  background-color: #385693;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.what-finding {
  background-color: #7ab6a9;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.what-finding .theme-subject p {
  font-size: 28px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.what-finding .theme-subject p > span {
  margin-bottom: 40px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.hot-spot {
  background-color: #9eb21f;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.hot-spot .theme-subject p {
  font-size: 28px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.hot-spot .theme-subject p > span {
  margin-bottom: 40px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.big-data {
  background-color: #ef6d00;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.big-data .theme-subject p {
  font-size: 28px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.big-data .theme-subject p > span {
  margin-bottom: 20px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.big-data .theme-subject p > strong {
  margin: 8px 0;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme.big-data .theme-subject p > i {
  font-size: 25px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme > .theme-subject {
  padding: 50px 50px;
  text-align: center;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme > .theme-subject > p {
  font-size: 25px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme > .theme-subject > p > span {
  margin-bottom: 15px;
  display: block;
  font-size: 13px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme > .theme-subject > p > strong {
  display: block;
  font-size: 35px;
}
#wrap section > article.cont3 > .travel-contents > ul > li.contents-theme > .theme-subject > button {
  margin-top: 20px;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url(./../image/btn_plus.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
#wrap section > article.cont3 > .travel-contents > ul > li > span.triangle1 {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -5px;
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
  border: 10px solid #000;
  border-color: transparent transparent transparent #385693;
}
#wrap section > article.cont3 > .travel-contents > ul > li > span.triangle2 {
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -5px;
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
  border: 10px solid #000;
  border-color: transparent #7ab6a9 transparent transparent;
}
#wrap section > article.cont3 > .travel-contents > ul > li > span.triangle3 {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -5px;
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
  border: 10px solid #000;
  border-color: transparent transparent transparent #9eb21f;
}
#wrap section > article.cont3 > .travel-contents > ul > li > span.triangle4 {
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -5px;
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
  border: 10px solid #000;
  border-color: transparent #ef6d00 transparent transparent;
}
#wrap section > article.cont3 > .travel-contents > ul > li > a {
  display: block;
  height: 300px;
  text-align: center;
  color: #555;
}
#wrap section > article.cont3 > .travel-contents > ul > li > a:hover {
  color: #ef6d00;
}
#wrap section > article.cont3 > .travel-contents > ul > li > a > img {
  width: 300px;
  height: 200px;
}
#wrap section > article.cont3 > .travel-contents > ul > li > a > span.thumb-tit {
  display: block;
  height: 100px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
#wrap section > article.cont4 {
  position: relative;
  padding: 80px 0;
  width: 100%;
  background-color: #eee;
}
#wrap section > article.cont4 > .fastival-list-container {
  position: relative;
  width: 1300px;
  height: 232px;
  margin: auto;
  overflow: hidden;
}
#wrap section > article.cont4 > .fastival-list-container > ul.list-slide {
  position: relative;
  left: 0;
  margin: 0 auto;
  width: 5200px;
  height: 232px;
  display: flex;
  flex-flow: row nowrap;
  transition: all 0.4s ease-in-out;
}
#wrap section > article.cont4 > .fastival-list-container > ul.list-slide > li {
  margin: 0 15px;
  width: 295px;
  height: 232px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}
#wrap section > article.cont4 > .fastival-list-container > ul.list-slide > li > a {
  height: 232px;
}
#wrap section > article.cont4 > .fastival-list-container > ul.list-slide > li > a > img {
  width: 295px;
  height: 160px;
  margin-bottom: 10px;
}
#wrap section > article.cont4 > .fastival-list-container > ul.list-slide > li > a > span.fastival-title {
  padding: 0 10px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#wrap section > article.cont4 > .fastival-list-container > ul.list-slide > li > a > span.fastival-date {
  display: block;
  font-size: 13px;
  color: #666;
  text-align: center;
}
#wrap section > article.cont4 > button.fastival-btn {
  position: absolute;
  top: 296px;
  width: 25px;
  height: 46px;
  text-indent: -9999px;
  background-image: url(./../image/fastival-slide-controler.png);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#wrap section > article.cont4 > button.fastival-btn.prev {
  left: 350px;
  background-position: 0 0;
}
#wrap section > article.cont4 > button.fastival-btn.next {
  right: 350px;
  background-position: -50px 0;
}
#wrap section > article.cont5 {
  padding: 80px 0;
  width: 100%;
  background-color: #282828;
}
#wrap section > article.cont5 > .main-tit {
  color: #fff;
}
#wrap section > article.cont5 > .main-tit > h3 {
  font-size: 38px;
}
#wrap section > article.cont5 > .photo-container {
  display: flex;
  flex-flow: row nowrap;
  width: 1290px;
  margin: 0 auto;
}
#wrap section > article.cont5 > .photo-container > .gallery-first-wrap {
  width: 322px;
}
#wrap section > article.cont5 > .photo-container > .gallery-first-wrap > ul {
  display: flex;
  flex-flow: row wrap;
}
#wrap section > article.cont5 > .photo-container > .gallery-first-wrap > ul > li {
  width: 161px;
  height: 161px;
}
#wrap section > article.cont5 > .photo-container > .gallery-first-wrap > ul > li:hover a {
  overflow: hidden;
  border: 2px solid #0360a2;
  margin: -2px 0 0 -2px;
  box-sizing: border-box;
}
#wrap section > article.cont5 > .photo-container > .gallery-first-wrap > ul > li > a {
  display: block;
  width: 163px;
  height: 163px;
}
#wrap section > article.cont5 > .photo-container > .gallery-first-wrap > ul > li > a > img {
  width: 161px;
  height: 161px;
}
#wrap section > article.cont5 > .photo-container > .text-hashtag {
  padding: 30px 20px;
  width: 322px;
  height: 322px;
  background-color: #434b56;
  box-sizing: border-box;
}
#wrap section > article.cont5 > .photo-container > .text-hashtag:hover {
  border: 2px solid #0360a2;
  box-sizing: border-box;
}
#wrap section > article.cont5 > .photo-container > .text-hashtag:hover .text-wrap {
  margin: -2px 0 0 -2px;
}
#wrap section > article.cont5 > .photo-container > .text-hashtag > .text-wrap > p {
  font-size: 23px;
  color: #fff;
  font-weight: 500;
}
#wrap section > article.cont5 > .photo-container > .text-hashtag > .text-wrap > b {
  display: block;
  margin-top: 25px;
  color: orange;
  font-size: 17px;
}
#wrap section > article.cont5 > .photo-container > .text-hashtag > .text-wrap > span {
  margin-top: 80px;
  display: block;
  color: #ccc;
}
#wrap section > article.cont5 > .photo-container > .gallery-one {
  width: 322px;
}
#wrap section > article.cont5 > .photo-container > .gallery-one:hover a {
  overflow: hidden;
  border: 2px solid #0360a2;
  box-sizing: border-box;
}
#wrap section > article.cont5 > .photo-container > .gallery-one:hover img {
  margin: -2px 0 0 -2px;
}
#wrap section > article.cont5 > .photo-container > .gallery-one > a {
  display: block;
  height: 322px;
}
#wrap section > article.cont5 > .photo-container > .gallery-one > a > img {
  width: 322px;
  height: 322px;
}
#wrap section > article.cont5 > .photo-container > .gallery-last-wrap {
  width: 322px;
}
#wrap section > article.cont5 > .photo-container > .gallery-last-wrap > ul {
  display: flex;
  flex-flow: row wrap;
}
#wrap section > article.cont5 > .photo-container > .gallery-last-wrap > ul > li {
  width: 161px;
}
#wrap section > article.cont5 > .photo-container > .gallery-last-wrap > ul > li:hover a {
  overflow: hidden;
  border: 2px solid #0360a2;
  box-sizing: border-box;
}
#wrap section > article.cont5 > .photo-container > .gallery-last-wrap > ul > li:hover img {
  margin: -2px 0 0 -2px;
}
#wrap section > article.cont5 > .photo-container > .gallery-last-wrap > ul > li > a {
  display: block;
  height: 161px;
}
#wrap section > article.cont5 > .photo-container > .gallery-last-wrap > ul > li > a > img {
  width: 161px;
  height: 161px;
}
#wrap section > article.cont6 {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #e0e0e0;
}
#wrap section > article.cont6 > .family-container {
  position: relative;
  width: 100%;
}
#wrap section > article.cont6 > .family-container > .family-site-wrap {
  padding: 30px 0;
  width: 1160px;
  height: 120px;
  margin: 0 auto;
  box-sizing: border-box;
}
#wrap section > article.cont6 > .family-container > .family-site-wrap > .swiper {
  width: 100%;
  height: 100%;
}
#wrap section > article.cont6 > .family-container > .family-site-wrap > .swiper > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap section > article.cont6 > .family-container > .family-site-wrap > .swiper > .swiper-slide > .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section > article.cont6 > .family-container > .family-site-wrap > .swiper > .swiper-button-prev {
  text-indent: -9999px;
  margin-left: -10px;
  background: url(./../image/btn_family_prev.png) no-repeat center;
}
#wrap section > article.cont6 > .family-container > .family-site-wrap > .swiper > .swiper-button-next {
  text-indent: -9999px;
  margin-right: -10px;
  background: url(./../image/btn_family_next.png) no-repeat center;
}
#wrap footer {
  width: 100%;
  color: #fff;
}
#wrap footer > .information-center {
  background-color: #3c3c3c;
  width: 100%;
  padding: 50px 0 50px 0;
  color: #fff;
}
#wrap footer > .information-center > .info-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
#wrap footer > .information-center > .info-wrap > .info-collect {
  margin-right: 68px;
  padding-right: 68px;
  width: 280px;
  height: 403px;
  border-right: 1px solid rgba(197, 197, 197, 0.3333333333);
}
#wrap footer > .information-center > .info-wrap > .info-collect > h4 {
  font-size: 20px;
  font-weight: 500;
}
#wrap footer > .information-center > .info-wrap > .info-collect > h4 > span {
  display: block;
  font-size: 25px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > h4 > span > b {
  font-size: 31px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list {
  margin-top: 20px;
  width: 280px;
  height: 216px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid rgba(197, 197, 197, 0.3333333333);
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li {
  width: 93.31px;
  height: 60px;
  background-image: url(./../image/info-icon-collect.png);
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li:nth-child(1) {
  background-position: -2px -93px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li:nth-child(2) {
  background-position: -282px -89px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li:nth-child(3) {
  background-position: -195px -93px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li:nth-child(4) {
  background-position: -2px -167px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li:nth-child(5) {
  background-position: -102px -167px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li:nth-child(6) {
  background-position: -195px -167px;
}
#wrap footer > .information-center > .info-wrap > .info-collect > ul.info-icon-list > li > a {
  display: block;
  height: 72px;
  line-height: 132px;
  font-size: 11px;
  color: #c5c5c5;
  font-weight: 200;
  text-align: center;
}
#wrap footer > .information-center > .info-wrap > .info-collect ul.info-app-list {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
}
#wrap footer > .information-center > .info-wrap > .info-collect ul.info-app-list > li {
  width: 29%;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  background-image: url(./../image/info-icon-collect.png);
}
#wrap footer > .information-center > .info-wrap > .info-collect ul.info-app-list > li:nth-child(1) {
  padding: 20px 0;
  width: 38%;
  color: #c5c5c5;
  background: none;
}
#wrap footer > .information-center > .info-wrap > .info-collect ul.info-app-list > li:nth-child(2) {
  background-position: -2px -227px;
}
#wrap footer > .information-center > .info-wrap > .info-collect ul.info-app-list > li:nth-child(3) {
  background-position: -78px -227px;
}
#wrap footer > .information-center > .info-wrap > .info-collect ul.info-app-list > li > a {
  display: block;
  height: 72px;
  line-height: 132px;
  color: #c5c5c5;
  font-size: 11px;
  font-weight: 200;
}
#wrap footer > .information-center > .info-wrap > .info-menu-list {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
}
#wrap footer > .information-center > .info-wrap > .info-menu-list > ul {
  width: 185px;
  height: 250px;
}
#wrap footer > .information-center > .info-wrap > .info-menu-list > ul > h5 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
}
#wrap footer > .information-center > .info-wrap > .info-menu-list > ul > li {
  line-height: 1.2;
}
#wrap footer > .information-center > .info-wrap > .info-menu-list > ul > li > a {
  font-size: 12px;
  color: #c5c5c5;
}
#wrap footer > address {
  position: relative;
  padding: 40px 0;
  width: 1200px;
  margin: 0 auto;
}
#wrap footer > address > ul.addr-link-list {
  display: flex;
  margin-bottom: 20px;
}
#wrap footer > address > ul.addr-link-list > li {
  position: relative;
  margin-right: 12px;
  padding-right: 12px;
}
#wrap footer > address > ul.addr-link-list > li::after {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3px;
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #000;
}
#wrap footer > address > ul.addr-link-list > li > a {
  display: block;
  height: 14px;
  font-size: 14px;
  color: #777;
}
#wrap footer > address > ul.addr-link-list > li > a > b {
  color: #000;
}
#wrap footer > address ul.address-text > li {
  color: #777;
  font-size: 12px;
}
#wrap footer > address p.copyright {
  margin-top: 10px;
  font-size: 11px;
  color: #777;
}
#wrap footer > address > p {
  margin-top: 10px;
  color: #777;
  font-size: 12px;
}
#wrap footer > address > ul.sns-list {
  position: absolute;
  right: 0;
  top: 40px;
  display: flex;
  width: 126px;
  justify-content: space-between;
}
#wrap footer > address > ul.sns-list li {
  width: 35px;
  background-image: url(./../image/info-icon-collect.png);
}
#wrap footer > address > ul.sns-list li:nth-child(1) {
  background-position: -162px -236px;
}
#wrap footer > address > ul.sns-list li:nth-child(2) {
  background-position: -208px -236px;
}
#wrap footer > address > ul.sns-list li:nth-child(3) {
  background-position: -253px -236px;
}
#wrap footer > address > ul.sns-list li > a {
  display: block;
  height: 35px;
  text-indent: -9999px;
}
#wrap footer > address > .authorized-wrap {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 520px;
}
#wrap footer > address > .authorized-wrap > span.science-icon {
  float: left;
  width: 160px;
  background-image: url(./../image/authorized-science.png);
  background-size: cover;
}
#wrap footer > address > .authorized-wrap > span.science-icon > a {
  display: block;
  height: 98px;
  text-indent: -9999px;
}
#wrap footer > address > .authorized-wrap > span.authorized-icon {
  float: right;
  width: 331px;
  height: 102px;
  background-image: url(./../image/authorized.png);
}/*# sourceMappingURL=style.css.map */