@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
	width: 100%;
	height: 100%;
}

/* 초기화 */
html,body,div,span,h1,h2,h3,h4,h5,h6,
p,blockquote,q,address,strong,em,img,
ul,ol,li,dl,dt,dd,a,figure, figcaption, mark, i, b,
table, caption, tbody, tfoot, thead, tr, th, td,
header,section,article,footer,nav,aside{
    margin: 0;
    padding: 0;
    border: 0;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #222;
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

address,
em,
i {
	font-style: normal;
}

hr,
caption,
legend {
	display: none;
}

fieldset,
img {
	border: none;
}

textarea {
	resize: none;
}

.text-center {
	height: 100px;
	line-height: 100px;
	text-align: center;
}

/* "screen reader만 읽게 하겠다"라는 의미의 클래스명 sr-only */
/* 향후 포지션 학습 시간에 자세히 다룰 예정 */
.sr-only {
	position: absolute;
	left: -9999px;
}

body {
	/* 페이지에서 세로 스크롤바가 나타났을 때 가로로 컨텐츠가 흔들리는 현상을 방지 */
	overflow-y: scroll;
	color: #222;
	font-size: 14px;
	line-height: 1.4;
	font-family: 'Noto Sans KR';
}

button		{cursor: pointer;}
